<div class="container">
  <h2>Inscription</h2>
  <form>
    <div class="input-register">
      <input type="text" required>
      <label>Nom</label>
    </div>
    <div class="input-register">
      <input type="text" required>
      <label>Prenom</label>
    </div>
    <div class="input-register">
      <input type="text" required>
      <label>Adresse email</label>
    </div>
    <div class="input-register">
      <input type="password" required>
      <label>Password</label>
    </div>
    <div class="input-register">
      <input type="password" required>
      <label>Confirm Password</label>
    </div>
    <div class="d-flex justify-content-center">
      <input style="width: 30%;" class="btn btn-primary mt-5" value="S'inscrire">
    </div>

  </form>
</div>
